
@{
    ViewBag.Title = "MVC Section Kullanımı";
}

<h2>MVC Section Kullanımı</h2>

<section>
    Sayfa içerisinde html section elementi ile bir bölüm.
    <br />
    MVC Section alt sayfalardan layout içerisindeki RenderSection lara html, css, javascript kodları göndermemizi sağlar
</section>

@section Scripts
{
    @*<script>alert("Scripts isimli section çalıştı")</script>*@
    <script>console.log("Scripts isimli section çalıştı");</script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
}

@section OzelIcerik
{
    <section class="jumbotron">
        OzelIcerik
    </section>
}


@section OzelCss
{
    <style>
        body {background-color: red; color: white; }
    </style>
}