@model Kullanici
@{
    ViewData["Title"] = "MVC Partial Kullanımı";
}

<h1>MVC Partial Kullanımı</h1>

<p>
    Partial parça anlamına gelir ve kod sayısı fazlalaşan ve karmaşıklaşan uygulamalarda sayfalarımızı parçalara ayırarak yönetmemizi kolaylaştırır
</p>

@Html.Partial("_PartialTest")

<h3>Tag Helper Partial</h3>

<partial name="_PartialTest" />

<h3>Partial da Model Kullanımı</h3>

<partial name="_PartialModelKullanimi" model="Model" />

<h3>Partial ın Asenkron Çağırılması</h3>

@await Html.PartialAsync("_PartialModelKullanimi", Model)

<h3>RenderPartialAsync</h3>
@{
    await Html.RenderPartialAsync("_PartialModelKullanimi", Model);
}