
@{
    ViewBag.Title = "MVC03 Data Transfer";
}

<h2>MVC03 Data Transfer</h2>

<table class="table">
    <tr>
        <td>Ürün Kategorisi</td>
        <td>: @ViewBag.UrunKategorisi</td>
    </tr>
    <tr>
        <td>Ürün Adı</td>
        <td>: @ViewData["UrunAdi"]</td>
    </tr>
    <tr>
        <td>Ürün Fiyatı</td>
        <td>: @TempData["UrunFiyati"] TL</td>
    </tr>
</table>

<hr />