
@{
    ViewBag.Title = "Cookie Olustur";
}

<h2>Cookie Olustur</h2>

<div>
    Cookie deki kullanıcı adı :
    <b>
        @TempData["kullaniciadi"]
    </b>
</div>

@Html.ActionLink("Kuki Sil", "CookieSil")