
@{
    ViewBag.Title = "MVC Cookie Çerez Kullanımı";
}

<h2>MVC Cookie Çerez Kullanımı</h2>

<p>
    Çerezler kullanıcıların cihazında saklanan küçük verilerdeir
    <br />
    Güvenlik gerektiren verileri burada kullanmak sakıncalıdır
    <br />
</p>
