@{
    ViewBag.Title = "MVC Session Kullanımı";
}

<h2>MVC Session Kullanımı</h2>

<div>
    InvalidOperationException: Session has not been configured for this application or request.
    Hatası alırsak Program.cs dosoyasını açıp projede session kullanmak için gerekli ayarları eklemeliyiz.
</div>

<h1> Session Oluştur</h1>

<form action="/MVC11Session/SessionOlustur" method="post">
    <input id="Text1" type="text" name="kullaniciAdi" placeholder="Kullanıcı Adı" />
    <input id="Text1" type="text" name="sifre" placeholder="Şifre" />
    <input id="Submit1" type="submit" value="Giriş" />
</form>

<a asp-action="SessionOku">
    Session Okuya Git
</a>