
@{
    ViewBag.Title = "MVC08 View Results";
}

<h2>MVC08 View Results</h2>

<h3>
    Redirect Result : Sayfayı bir url adresine yönlendirmek için kullanılır
</h3>

@Html.ActionLink("Redirect Result", "Yonlendir")

<h3>
    RedirectToAction Result : Sayfayı bir Action a yönlendirmek için kullanılır
</h3>

@Html.ActionLink("RedirectToAction Result", "ActionaYonlendir")

<h3>
    RedirectToRoute Result : Sayfayı bir Route a yönlendirmek için kullanılır
</h3>

@Html.ActionLink("RedirectToRoute Result", "RouteYonlendir")