@{
    ViewBag.Title = "MVC de Model Validation Kullanımı";
}

<h2>MVC de Model Validation Kullanımı</h2>

<p>
    Model class larının içerisinddeki propertylerin boş geçilememe, karakter sayısı vb. gibi durumlarını ayarlamamızı sağlar
</p>

<a href="/MVC05ModelValidation/UyeListesi" class="btn btn-info">Uye Listesi</a>
